body{
    background-color: aquamarine;
    color: #453214;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    padding: 5px 20px;
    background-color: rgb(97, 160, 129);
    color: #453214;
    border-style: none;
}

input {
    height: 20px;
}
